.entry
  height: 25%
  overflow: hidden
  cursor: alias
  white-space: nowrap

  p, span
    color: rgb(49, 156, 173)

  &__calc
    padding: 8% 3% 0
    font-size: 0.3in
    overflow: hidden

    &__p
      float: right

  &__span
    margin-top: 4%
    padding-right: 2%
    float: right
